.banner {
    border-radius: .4em;
    max-width: 500px;
}

.bannerContainer {
    margin: 20px;
    float: right;
}

@media (max-width: 630px) {
    .banner {
        transform: scale(0.54);
        transform-origin: 100% 0% 0px;
    }

    .bannerContainer {
        height: 200px;
    }
}