.footerTextContainer {
    min-height: 400px;
    background-size: cover;
    background-position: center center;
    background-image: url(https://tavori2.github.io/data/img/footer.jpg);
    direction: rtl;
}

.footerTextTitle {
    font-family: arial;
    color: #fff;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    display: flex;
    margin-top: 50px;
    width: 100%;
}

.emailTitle {
    color: #854dff;
    font-size: 18.0pt;
}

.emailAddress {
    color: white;
    text-decoration: underline;
    font-weight: normal;
}

.textBox {
    margin-right: 10%;
}

/* Right Text */
.rightText {
    padding-top: 150px;
    width: 30%;
}

.rightKey {
    color: #00ff00;
    font-size: 14pt;
}

.rightValue {
    font-size: 14pt;
}

/* Center Text */
.centerText {
    padding-top: 180px;
    width: 30%;
}

/* Left Text */
.leftText {
    padding-top: 180px;
    width: 30%;
}


@media (max-width: 600px) {
    .footerTextTitle {
        display: block;
    }

    .rightText {
        padding-top: 140px;
        width: auto;
    }

    .centerText {
        padding-top: 140px;
        width: auto;
    }

    .leftText {
        padding-top: 140px;
        padding-bottom: 140px;
        width: auto;
    }
}