.footerTextContainer {
    min-height: 618px;
    background-size: cover;
    background-position: center center;
    background-image: url(https://lh4.googleusercontent.com/16XS9zWjNNn3amncGZz19vP2bePDEwdNa5R4b5J5-x5LJkH5Pwd_HvGDaZZbv1JgR87r8F4Rk0ksHfo0hHygKlE=w16383);
    direction: rtl;
}

.footerTextTitle {
    font-family: arial;
    color: #fff;
    font-size: 14pt;
    font-weight: bold;
    text-align: center;
    display: flex;
}

.emailTitle {
    color: #854dff;
    font-size: 18.0pt;
}

.emailAddress {
    color: white;
    text-decoration: underline;
    font-weight: normal;    
}

.textBox {
    margin-right: 10%;
    margin-left: 10%;
}

.rightKey {
    color: #00ff00;
    font-size: 14pt;
}

.rightValue {
    font-size: 14pt;
}

