.osh-summary {
    direction: rtl;
}

.balanceRow {

}

.cashRow {
    padding-top: 15px;
}

.dateRow {
    padding-top: 35px;
    text-align: center;
}

.excelRow {

}

.title {
    font-size: 28px;
    font-weight: bold;
    font-family: arial;
    color: #a5d249;
}

.titleValue {
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    padding-left: 25px;
}

.subtitle {
    color: #acacac;
    font-size: 18px;
}