.osh-summary {
    direction: rtl;
}

.titleRow {
    font-size: 32px;
    text-align: center;
    font-family: arial;
    font-weight: bold;
    color: #6d9eeb;
}

.balanceRow {
    padding-top: 10px;
}

.cashRow {
    padding-top: 10px;
}

.dateRow {
    padding-top: 5px;
    text-align: center;
}

.excelRow {
    margin-top: 40px;
    text-align: center;
    font-family: arial;
}

.excelLink {
    text-decoration: none;
}

.bankRow {
    margin-bottom: 6px;
}

.branchRow {
    margin-bottom: 6px;
}

.accountRow {
    margin-bottom: 6px;
}

.accountAddressRow {
    margin-bottom: 6px;
}

.title {
    font-size: 28px;
    font-weight: bold;
    font-family: arial;
    color: #a5d249;
}

.titleValue {
    font-size: 20px;
    font-weight: bold;
    font-family: arial;
    padding-left: 25px;
}

.subtitle {
    color: #acacac;
    font-size: 18px;
}

.transparency {
    float: right;
    height: 215px;
    padding-right: 15px;
}

.balances {
    float: right;
}

.pagi {
    float: right;
    height: 215px;
    padding-right: 15px;
}

.accountDetails {
    float: right;
    height: 215px;
    padding-right: 15px;
}

.normalTitle {
    font-size: 18px;
    font-family: arial;
    font-weight: 700;
    padding-left: 10px;    
}

.normalTitleValue {
    color: #999;
    font-size: 16px;
    font-family: arial;
    padding-right: 5px;    
}

.blueTitleValue {
    font-size: 16px;
    font-weight: 400;
    font-family: arial;
    color: #0000ff;
}